<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="website.yny84666.spzx.product.mapper.ProductMapper">

    <resultMap id="BaseResultMap" type="website.yny84666.spzx.product.api.domain.vo.Product">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="brandId" column="brand_id" jdbcType="BIGINT"/>
            <result property="category1Id" column="category1_id" jdbcType="BIGINT"/>
            <result property="category2Id" column="category2_id" jdbcType="BIGINT"/>
            <result property="category3Id" column="category3_id" jdbcType="BIGINT"/>
            <result property="unitName" column="unit_name" jdbcType="VARCHAR"/>
            <result property="sliderUrls" column="slider_urls" jdbcType="VARCHAR"/>
            <result property="specValue" column="spec_value" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="auditStatus" column="audit_status" jdbcType="TINYINT"/>
            <result property="auditMessage" column="audit_message" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="delFlag" column="del_flag" jdbcType="CHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,brand_id,
        category1_id,category2_id,category3_id,
        unit_name,slider_urls,spec_value,
        status,audit_status,audit_message,
        create_time,create_by,update_time,
        update_by,del_flag,remark
    </sql>

    <select id="selectProductList" resultType="website.yny84666.spzx.product.api.domain.vo.Product">
        SELECT p.*,b.name brandName,c1.name category1Name,c2.name category2Name,c3.name category3Name
        FROM product p
        left join brand b on p.brand_id = b.id and b.del_flag = 0
        left join category c1 on p.category1_id = c1.id and c1.del_flag = 0
        left join category c2 on p.category2_id = c2.id and c2.del_flag = 0
        left join category c3 on p.category3_id = c3.id and c3.del_flag = 0
        <where>
            and p.del_flag = 0
            <if test="name != null and name != ''">
                and p.name like concat('%','#{name}','%')
            </if>
            <if test="brandId != null">
                and p.brand_id = #{brandId}
            </if>
            <if test="category1Id != null">
                and p.category1_id = #{category1Id}
            </if>
            <if test="category2Id != null">
                and p.category2_id = #{category2Id}
            </if>
            <if test="category3Id != null">
                and p.category3_id = #{category3Id}
            </if>
        </where>

    </select>
    <select id="selectProductSkuList" resultType="website.yny84666.spzx.product.api.domain.vo.ProductSku">
        select ps.*,ss.sale_num
        from product_sku ps
        left join product p on p.id = ps.product_id
        left join sku_stock ss on ss.sku_id = ps.id
        <where>
            <if test="keyword != null  and keyword != ''"> and ps.sku_name like concat('%', #{keyword}, '%')</if>
            <if test="brandId != null "> and p.brand_id = #{brandId}</if>
            <if test="category1Id != null "> and p.category1_id = #{category1Id}</if>
            <if test="category2Id != null "> and p.category2_id = #{category2Id}</if>
            <if test="category3Id != null "> and p.category3_id = #{category3Id}</if>
            and p.status = 1
            and p.audit_status = 1
            and ps.del_flag = 0
            and p.del_flag = 0
            and ss.del_flag = 0
        </where>
        <if test="order == 1">order by ss.sale_num desc</if>
        <if test="order == 2">order by ps.sale_price asc</if>
        <if test="order == 3">order by ps.sale_price desc</if>
    </select>

</mapper>
